In [1]:
import pandas as pd
import os

In [2]:
InputLocation  = "C:/Users/SANDAMO/Documents/Raw Dataset/Datacheck/"
OutputLocation = "C:/Users/SANDAMO/Documents/Processed Data/"

In [3]:
filelist = os.listdir(InputLocation)

filelist

['Data Check Workbook Template 01.03.24.xlsm']

In [4]:
df = []

for file in filelist:
    if file.endswith(".xlsm"):
        print('Loading files: {0}...'.format(file))
        df.append(pd.read_excel(os.path.join(InputLocation, file), sheet_name='Shipment Detail'))
        
df_zeromargin = pd.concat(df, axis=0)
df_zeromargin.to_excel(OutputLocation+'ZeroMarginRaw2.xlsx', index = False)

Loading files Data Check Workbook Template 01.03.24.xlsm...

In [5]:
df_Zeroprofit = pd.read_excel("C:/Users/SANDAMO/Documents/Processed Data/ZeroMarginRaw2.xlsx")

In [7]:
df_Zeroprofit.head()

,Spreadsheet name,Reference,Reference_Two,Reference_Three,CustomerPO,CustomerStoreNum,CustomerDept,CustomerInvoiceNum,ReturnedMerchandiseAuthorizationNum,Shipper_Company,...,C Code,Parent C code,Parent Name,Billing Match,Difference,Profit Margin,Profit Range,Greater than 1K,Is Original Shipment?,Account Type
0,123Storescom,102 23,NaN,NaN,YUS 40551 Box 1 of 1,NaN,NaN,NaN,NaN,Yu Shan Co USA Ltd,...,C8763383,C8763383,123Storescom,13.15,0,0.0,NONE,N,Y,CHR
1,123Storescom,53110,NaN,NaN,RDK 131 Box 1 of 1,NaN,NaN,NaN,NaN,RDK Product,...,C8763383,C8763383,123Storescom,27.36,0,0.0,NONE,N,Y,CHR
2,123Storescom,HC20WW,NaN,NaN,FLS 113 Box 1 of 1,NaN,NaN,NaN,NaN,Summit Appliance,...,C8763383,C8763383,123Storescom,13.17,0,0.0,NONE,N,Y,CHR
3,123Storescom,2026,NaN,NaN,ADC 18474 Box 4 of 5,NaN,NaN,NaN,NaN,Synergy Recommerce,...,C8763383,C8763383,123Storescom,10.20,0,0.0,NONE,N,Y,CHR
4,123Storescom,2026,NaN,NaN,ADC 18474 Box 5 of 5,NaN,NaN,NaN,NaN,Synergy Recommerce,...,C8763383,C8763383,123Storescom,10.20,0,0.0,NONE,N,Y,CHR

In [16]:
df_selected = df_Zeroprofit["Spreadsheet name"]

print(df_selected.head())

KeyError: 'Spreadsheet name'